<%= form_for(@bazinga) do |f| %>
  <% if @bazinga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bazinga.errors.count, "error") %> prohibited this bazinga from being saved:</h2>

      <ul>
      <% @bazinga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :num_followers %><br>
    <%= f.number_field :num_followers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
