<p id="notice"><%= notice %></p>

<h1>Listing Bazingas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Num followers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bazingas.each do |bazinga| %>
      <tr>
        <td><%= bazinga.title %></td>
        <td><%= bazinga.description %></td>
        <td><%= bazinga.num_followers %></td>
        <td><%= link_to 'Show', bazinga %></td>
        <td><%= link_to 'Edit', edit_bazinga_path(bazinga) %></td>
        <td><%= link_to 'Destroy', bazinga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bazinga', new_bazinga_path %>
